<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568550453977-gdstr2i3552idbtcp063e6ipr78meoaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568550453977-gdstr2i3552idbtcp063e6ipr78meoaa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>568550453977-168m8sl1esc1o59gioe0v7cunvjds2s2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABAfjYKtPDW0qXsb4d8fLfPXHX0E4Yc-4</string>
	<key>GCM_SENDER_ID</key>
	<string>568550453977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.apple.laundryLady</string>
	<key>PROJECT_ID</key>
	<string>laundry-lady</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-lady.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:568550453977:ios:815206bed29098ff3c04c8</string>
</dict>
</plist>
